<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Birthday.aspx.vb" Inherits="Solutions_Birthday" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <div>
            <div>
                <div>
                </div>
                Age Calculator<br />
                <br />
                <table>
                    <tr>
                        <td style="width: 100px">
                            Birthday:</td>
                        <td style="width: 100px">
                            <asp:TextBox ID="txtBirthday" runat="server"></asp:TextBox>
                        </td>
                    </tr>
                </table>
                <br />
                <asp:Button ID="btnConvert" runat="server" Text="Calculate" /><br />
                <br />
                <table>
                    <tr>
                        <td style="width: 100px">
                            Age:</td>
                        <td style="width: 67px">
                            &nbsp;<asp:Label ID="lblAge" runat="server" Width="256px"></asp:Label></td>
                    </tr>
                </table>
                <br />
                &nbsp;<br />
            </div>
        </div>
    
    </div>
    </form>
</body>
</html>
