<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Colors.aspx.vb" Inherits="Solutions_Colors" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="lblColor" runat="server" Font-Size="XX-Large" Text="Hello World"></asp:Label>
        <br />
        <asp:Button ID="btnRed" runat="server" Text="Red" />
        <asp:Button ID="btnGreen" runat="server" Text="Green" />
        <asp:Button ID="btnBlue" runat="server" Text="Blue" />
        <asp:Button ID="btnRandom" runat="server" Text="Random" /></div>
    </form>
</body>
</html>
