<%@ Page Language="VB" AutoEventWireup="false" CodeFile="SessionState.aspx.vb" Inherits="Solutions_SessionState" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Session State</title>
</head>
<body text="#0e00a0">
    <form id="form1" runat="server">
    <div>
        <div>
            <asp:Label ID="lblField" runat="server"></asp:Label>
            <asp:TextBox ID="txtField" runat="server"></asp:TextBox>
            <asp:Button ID="btnField" runat="server" Text="Submit" /><br />
        </div>
    
    </div>
    </form>
</body>
</html>
