.container{
	margin: auto;
	position: relative;
	width: 100%;
	max-width: 960px;
	padding: 50px;
	background: white;
	border-radius: 25px;
	border: 5px solid black;
	margin-top: 30vh;
}

.row{
	display: inline-block;
}

.row input{
	text-align: center;
}

#errMsg {
	text-align: center;
	color: red;
	padding: 10px 0;
}

table td, table tr, table tr td input{
  text-align: center;
}