<%@ Page Language="C#" AutoEventWireup="true" CodeFile="MPG.aspx.cs" Inherits="MPG" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
        <asp:TextBox ID="txtStart" runat="server"></asp:TextBox>
        <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>
        <asp:TextBox ID="txtEnd" runat="server"></asp:TextBox>
        <asp:Label ID="Label3" runat="server" Text="Label"></asp:Label>
        <asp:TextBox ID="txtGallons" runat="server"></asp:TextBox>
        <asp:Label ID="Label4" runat="server" Text="Label"></asp:Label>
        <asp:TextBox ID="txtMPG" runat="server"></asp:TextBox>
        <asp:Button ID="btnMPG" runat="server" Text="Button" OnClick="btnMPG_Click" /></div>
    </form>
</body>
</html>
