<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TempConvert.aspx.cs" Inherits="TempConvert" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
        <asp:TextBox ID="txtFah" runat="server"></asp:TextBox>
        <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>
        <asp:TextBox ID="txtCel" runat="server"></asp:TextBox>
        <asp:Button ID="btnConvert" runat="server" Text="Button" OnClick="btnConvert_Click" /></div>
    </form>
</body>
</html>
