body           { text-align: center; }
.outframe      { border: 2px solid;
		 position:relative;
                 top: 4px;
                 color: #A52A2A;
		 width: 320px;
                 height: 480px; 
		 display: block; 
		 margin: 0 auto;
                 background-image: url(../images/bgimg.gif); }
.inframe      { border: 0px;
		 position:absolute;
	         left: 10px;
                 top: 74px;
		 width: 300px;
                 height: 380px; 
		 background-color: white; }
#inframebg     { position:absolute;
	         left: 7px;
                 top: 44px; }
.center        { text-align: center; }
.left          { text-align: left; }
.logo          { position: absolute;
		 left: 0px;
                 top: 4px; }
.bold          { font-weight: bold; }
.bigFont       { font-family: arial, helvetica, sans-serif;
                 font-weight: normal;
                 font-size: 16pt;
                 color: blue; }
.baseFont      { color: black;
		 font-size: 11pt;
		 font-family: helvetica, arial, sans-serif; }
.baseFont2     { color: blue;
		 font-size: 12pt;
		 font-family: helvetica, arial, sans-serif; }
.titleLogin    { position: absolute;
		 left: 40px; }
table.sep      { border-collapse: separate; }
.tableLogin    { position: absolute;
		 left: 20px;
                 top: 90px; }
td             { color: black;
		 font-family: helvetica, arial, sans-serif;
                 font-size: 12pt; 
		 padding: 0.4em 0.1em; }
.imgButton     { position: absolute;
		 left: 86px;
                 top: 190px; }
.forgotuname   { position: absolute;
		 left: 26px;
                 top: 240px; }
.forgotpword   { position: absolute;
		 left: 26px;
                 top: 264px; }
.new2esi       { position: absolute;
		 left: 26px;
                 top: 308px; }
.activateAct   { position: absolute;
		 left: 80px;
                 top: 344px; }
.errormsg      { position: absolute;
		 font-weight: bold;
		 font-family: helvetica, arial, sans-serif;
		 font-size: 10pt;
		 color: #D00000;
		 left: 20px;
                 top: 50px; }
.errormsg2      { position: absolute;
		 font-weight: bold;
		 font-family: helvetica, arial, sans-serif;
		 font-size: 10pt;
		 color: #D00000;
		 left: 20px;
                 top: 70px; }
