body           { text-align: center; }
#outframe      { border: 2px solid;
		 position:relative;
                 top: 4px;
                 color: #A52A2A;
		 width: 320px;
                 height: 480px; 
		 display: block; 
		 margin: 0 auto;
	         background-image: url(../images/bgimg.gif); }
#inframe       { border: 1px solid gray;
		 position:absolute;
	         left: 10px;
                 top: 215px;
		 width: 300px;
                 height: 210px; 
		 background-color: white; }
#midframe      { border: 1px solid gray;
		 position:absolute;
	         left: 10px;
                 top: 170px;
		 width: 300px;
                 height: 256px; 
		 background-color: white; }
#inframebg     { position:absolute;
	         left: 8px;
                 top: 4px; }
#getstarted    { position:absolute;
	         left: 50px;
                 top: 13px; }
#getstarteditem1 { position:absolute;
	           left: 30px;
                   top: 90px; }
#getstarteditem2 { position:absolute;
	           left: 30px;
                   top: 120px; }
#getstarteditem3 { position:absolute;
	           left: 30px;
                   top: 170px; }
#already1        { position:absolute;
	           left: 30px;
                   top: 80px; }
#already2        { position:absolute;
	           left: 30px;
                   top: 110px; }
#already3        { position:absolute;
	           left: 30px;
                   top: 140px; }
#already4        { position:absolute;
	           left: 30px;
                   top: 170px; }
#CantSeeInfo     { position:absolute;
	           left: 30px;
                   top: 100px; }

#inframebg2     { position:absolute;
	         left: 8px;
                 top: 40px; }

#uprightframe  { border: solid;
		 border-width: 2px 2px 0px 2px;
		 position:absolute;
	         right: 6px;
                 top: 8px;
                 color: #F0E68C;
		 width: 220px;
                 height: 110px; 
		 background-color: white; }
#presarrow     { position: absolute;
		 left: 10px;
                 top: 9px; }
#presplanarrow { position: absolute;
		 left: 10px;
                 top: 34px; }
#drugarrow     { position: absolute;
		 left: 10px;
                 top: 59px; }
#accountarrow  { position: absolute;
		 left: 10px;
                 top: 84px; }
#myPrescriptionLoc { position: absolute;
                     top: 4px; }
#myPresPlanLoc { position: absolute;
                 top: 29px; }
#drugHealthLoc { position: absolute;
                 top: 54px; }
#accountSettingsLoc { position: absolute;
                      top: 79px; }

.center        { text-align: center; }
.left          { text-align: left; }
.right          { text-align: right; }
.italic        { font-style: italic; }
#logo          { position: absolute;
		 left: 0px;
                 top: 4px; }
#imgsave       { position: absolute;
		 left: 0px;
                 bottom: 0px; }
#imgprice      { position: absolute;
		 right: 0px;
                 bottom: 0px; }

.bigFont       { font-family: arial, helvetica, sans-serif;
                 font-weight: normal;
                 font-size: 14pt;
                 color: black; }
.baseFont      { color: black;
		 font-size: 10pt;
		 font-family: helvetica, arial, sans-serif; }
.baseFont0     { font-size: 11pt;
		 font-family: helvetica, arial, sans-serif; }
.baseFont1     { color: black;
		 font-size: 11pt;
		 font-family: helvetica, arial, sans-serif; }
.baseFont2     { color: blue;
		 font-size: 12pt;
		 font-family: helvetica, arial, sans-serif; }
.baseFont3     { color: navy;
		 font-weight: bold;
		 font-size: 9pt;
		 font-family: helvetica, arial, sans-serif; }
.baseFont4     { color: gray;
		 font-size: 9pt;
		 font-family: helvetica, arial, sans-serif; }
.baseFont5     { color: black;
		 font-size: 9pt;
		 font-family: helvetica, arial, sans-serif; }
#titleLogin    { position: absolute;
		 left: 10px; }
#imglogoff     { position: absolute;
		 right: 4px;
                 top: 144px; }
#homeLoc       { position: absolute;
		 left: 10px;
                 top: 122px; }
#faqLoc        { position: absolute;
		 left: 60px;
                 top: 122px; }
#contactLoc    { position: absolute;
		 left: 94px;
                 top: 122px; }
#cartlink      { position: absolute;
		 left: 190px;
                 top: 122px; }
#imgcart       { position: absolute;
		 right: 20px;
                 top: 126px; }
#lastvisit     { position: absolute;
		 left: 10px;
                 top: 168px; }
#lastvisittime { position: absolute;
		 right: 10px;
                 top: 168px; }

	#header ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	#header li {
		float: left;
		background: url(../images/norm_right.gif) top right no-repeat;
		margin: 0;
	}
	
	#header a {
		display: block;
		background: url(../images/norm_left.gif) top left no-repeat;
		color: black;
		text-decoration: none;
		padding: 0.6em 1em 0.25em;
	}
	
	#header a:hover {
		color: blue;
	}
	
	#header #selected {
		font-weight: normal;
		background-image: url(../images/norm_right_on.gif);
	}
	
	#header #selected a {
		background-image: url(../images/norm_left_on.gif);
		color: black;
	}

.tabsPos     { position: absolute;
               left: 10px;
               top: 188px; }

.topmenu     { color: #00008B;
	       font-family: helvetica, arial, sans-serif;
	       font-size:14px; 
	       font-weight: bold; }
.submenu     { color: navy;
	       font-family: helvetica, arial, sans-serif;
	       font-size:14px; 
	       font-weight: normal; }
.submenu2     { color: black;
	       font-family: helvetica, arial, sans-serif;
	       font-size:14px; 
	       font-weight: normal; }
.submenu2a     { color: red;
	       font-family: helvetica, arial, sans-serif;
	       font-size:14px; 
	       font-weight: normal; }

.menu {
	position:relative;        /* establish a menu-relative positioning context */
	float:left;                                     /* play nicely with others */
	margin:0;
	padding:0;
	border:0;                                /* the menu's overall height */
	width:90%;         /* we always want our menu to fill the available space */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;         /* this (and also below) sets the menu's font size */
}

.menu img {
	vertical-align: top;      /* prevent images from being pushed down by text */
}

.menu ul {
	margin:0;
	list-style-type:none;          /* we don't want to view the list as a list */
	line-height:2em;           /* globally set the menu's item spacing. note */
}                               /* this must be 1.0 or 1.5 or 2.0 for Mozilla */

.menu li {
	float:left;    /* this creates the side-by-side array of top-level buttons */
	position:relative;    /* create local positioning contexts for each button */
	margin:0;
}

.menu ul li table {
	margin:-1px 0;              /* IE5 needs -1px top and bottom table margins */
	m\argin:0;               /* re-zero the table margins for everyone but IE5 */
	border-collapse:collapse;      /* IE5 needs this for the sub-menus to work */
	font-size:12px;        /* this sets the base font size for our entire menu */
}

.drop {
	display:block;
	padding:0px 0.33em;	       /* this sets the l/r margins for our menu item */
	margin:0;
	text-align:right;   /* this right alignment goes with the float:left below */
	cursor:pointer;      /* IE tries to switch back to an I-beam, don't let it */
	cursor:hand;           /* IE5 only knows about "hand", so set it both ways */
}

.drop span {        /* this simultaneously left and right aligns the text and */
	float:left;       /* the >> in the drop-down menus which link to sub-menus */
}

.rightmenu {
	position:relative;  /* establish a local positioning context for YAH label */
	float:right;                  /* and right-align it at the top of our page */
}

/*======================== TOP LEVEL MENU DEFINITIONS ========================*/

.menu ul li ul {
	display:none;                  /* initially hide the entire list hierarchy */
	padding:1px;                               /* this is our box border width */
}

.menu ul li a,
.menu ul li a:visited {                    /* unselected top-level menu items */
	display:block;
	border: 0px;
	float:left;
	text-decoration:none;
	height:20px;
}

.menu ul li:hover a,
.menu ul li a:hover {                        /* selected top-level menu items */
	border-top:0px solid #000;    /* these 2 lines create the push-in illusion */
	height:20px;
}

/*======================== 2ND LEVEL MENU DEFINITIONS ========================*/

.menu ul li:hover ul,
.menu ul li a:hover ul {                           /* 2nd level drop-down box */
	display:block;
	position:absolute;
	margin:0;
	top:18px;              /* place us just up underneath the top-level images */
	left:-1px;       /* left-align our drop-down to the previous button border */
	height:auto;      /* the drop-down height will be determiend by line count */
	width:14em;
	color:blue;                        /* this sets the unselected-text color */
	background:white;         /* this sets our menu's effective "border" color */
}

.menu ul li:hover ul.leftbutton,
.menu ul li a:hover ul.leftbutton {/* our first dropdown should not be skewed */
	left:0px;
}

.menu ul li:hover ul.skinny,
.menu ul li a:hover ul.skinny {             /* 2nd level skinny drop-down box */
	width:12em;   /* with a 12px default font, this is 97px width (97/12) */
}

.menu ul.rightmenu li:hover ul,
.menu ul.rightmenu li a:hover ul {    /* 2nd level neighborhood drop-down box */
	left:auto;
	right:0;         /* nudge the right menu right to line up under the border */
	width:400px;      /* with a 12px default font, this is 228px width (228/12) */
}

* html .menu ul.rightmenu li a:hover ul {         /* IE5/6 needs a tweak here */
	right:-1px;
}

.menu ul li:hover ul li a,
.menu ul li a:hover ul li a {                   /* 2nd level unselected items */
	border:0;
	margin:0;
	padding:0;
	height:auto;
	color:navy;               /* this sets the unselected drop-down text color */
	background:#AAFFFF;       /* this sets the drop-down menu background color */
	width:14em;
}

.menu ul li:hover ul li:hover a,
.menu ul li a:hover ul li a:hover {                /* 2nd level selected item */
	color:black;
	background:#FFE4B5;
}

.menu ul li:hover ul.skinny li a,
.menu ul li a:hover ul.skinny li a,
.menu ul li:hover ul.skinny li a:hover,
.menu ul li a:hover ul.skinny li a:hover {     /* 2nd level un+selected items */
	width:12em;
}

/*======================== 3RD LEVEL MENU DEFINITIONS ========================*/

.menu ul li:hover ul li ul,
.menu ul li a:hover ul li a ul {             /* hide inactive 3rd-level menus */
	visibility:hidden;
}
     
.menu ul li:hover ul li:hover ul,
.menu ul li a:hover ul li a:hover ul {             /* 3rd level drop-down box */
	visibility:visible;
	position:absolute;
	margin-top:-1px;	      /* bring the top edge of the 3rd level menu up one */
	top:0;
	left:16em;
	width:18em;
}

.menu ul li:hover ul li:hover ul li a,
.menu ul li a:hover ul li a:hover ul li a {     /* 3rd level unselected items */
	width:14em;
	background:#d8d8d8;
}

.menu ul li:hover ul li:hover ul li a:hover,
.menu ul li a:hover ul li a:hover ul li a:hover {    /* level3 selected items */
	width:14em;
	background:white;
}