<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Ex4.aspx.vb" Inherits="Ex4" %>
<%@ Register TagPrefix="aspSample" Namespace="Samples.AspNet.VB.Controls"%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
                <aspSample:TempConverter ID="TempConverter1" runat="server" Height="80px" Width="352px" />
        <br />
        <br />
                <aspSample:TempConverter ID="TempConverter2" runat="server" Height="72px" Width="352px" />
    </div>
    </form>
</body>
</html>
