<%@ Page Language="VB" AutoEventWireup="false" CodeFile="FullDemo.aspx.vb" Inherits="FullDemo" %>
<%@ Register TagPrefix="aspSample" Namespace="ASPSampleControls" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <aspSample:SizedText id="SizedText1" text="Hello World" runat="server" />
        <br />
        <br />
        <asp:Button ID="Button1" runat="server" Text="Enlarge" /></div>
    </form>
</body>
</html>
