<%@ Control Language="VB" AutoEventWireup="false" CodeFile="LinkCounter.ascx.vb" Inherits="LinkCounter" %>
<asp:LinkButton ID="LinkButton1" runat="server">Link1</asp:LinkButton>
-
<asp:LinkButton ID="LinkButton2" runat="server">Link2</asp:LinkButton>
-
<asp:LinkButton ID="LinkButton3" runat="server">Link3</asp:LinkButton>
-
<asp:LinkButton ID="LinkButton4" runat="server">Link4</asp:LinkButton>
