<%@ Control Language="VB" AutoEventWireup="false" CodeFile="Links.ascx.vb" Inherits="Links" %>
<asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="UserDemo1.aspx">UserDemo1</asp:HyperLink>
-
<asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="UserDemo2.aspx">UserDemo2</asp:HyperLink>
-
<asp:HyperLink ID="HyperLink3" runat="server" NavigateUrl="UserDemo1.aspx">UserDemo3</asp:HyperLink>
-
<asp:HyperLink ID="HyperLink4" runat="server" NavigateUrl="UserDemo2.aspx">UserDemo4</asp:HyperLink>
