<%@ Page Language="VB" AutoEventWireup="false" CodeFile="TempLookup.aspx.vb" Inherits="TempLookup" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:DropDownList ID="ddlCities" runat="server" AutoPostBack="True" Width="152px">
        </asp:DropDownList><br />
        <asp:Label ID="lblOutput" runat="server" Width="152px"></asp:Label>&nbsp;</div>
    </form>
</body>
</html>
