<%@ Page Language="VB" AutoEventWireup="false" CodeFile="UserDemo2.aspx.vb" Inherits="UserDemo2" %>

<%@ Register Src="CityTemp.ascx" TagName="CityTemp" TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <uc1:CityTemp ID="CityTemp1" runat="server" />
        <br />
        <uc1:CityTemp ID="CityTemp2" runat="server" />
        <br />
        <uc1:CityTemp ID="CityTemp3" runat="server" />
        <br />
        &nbsp;</div>
    </form>
</body>
</html>
