<%@ Page Language="VB" AutoEventWireup="false" CodeFile="UserDemo1.aspx.vb" Inherits="UserDemo1" %>

<%@ Register Src="Copyright.ascx" TagName="Copyright" TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div style="text-align: center">
        Welcome to Advanced ASP .NET Using VB 2005<br />
        <br />
    
    </div>
    <div style="text-align: left">
        <uc1:Copyright ID="Copyright1" runat="server" />
        <br />
        &nbsp;</div>
    </form>
</body>
</html>
